.featured-section-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  margin: -10px 0 32px 0;
}

.featured-section-container > * {
  flex: 1;
  min-width: 0;
}

.featured-section-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.underlined-text-highlight {
  display: inline-block;
  position: relative;
}

.underlined-text-highlight::after {
  content: " ";
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: var(--color-violet-900);
  transform: rotate(-1.5deg);
  z-index: -1;
  border-radius: 100px;
}

/* Featured card styles */
.featured-section-container .MuiCard-root {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: none !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  padding: 1.5rem;
}