.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 70px;
  width: 100%;
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 50px;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
}

.home-logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.home-buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-top: 0 !important;
}

.demo-button, .login-button {
  border-radius: 8px;
  cursor: pointer;
}