.key-features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  padding: 24px 0;
  width: 100%;
}

.key-feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px 16px;
  border: none;
  border-radius: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.key-feature-card .MuiIcon-root {
  font-size: 2.5rem;
  margin-bottom: 16px;
}

.key-feature-card .MuiTypography-h6 {
  margin-bottom: 8px;
}

.key-feature-card .MuiTypography-body1 {
  color: #666;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .key-features-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .key-features-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .key-features-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}

.featured-section-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.underlined-text-highlight {
  display: inline-block;
  position: relative;
}

.underlined-text-highlight::after {
  content: " ";
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: var(--color-violet-900);
  transform: rotate(-1.5deg);
  z-index: -1;
  border-radius: 100px;
}
