.primaryCTA {
    background-color: white;
    padding: 4rem 2rem;
    text-align: center;
    border-radius: 8px;
    margin: 6rem 0;

    box-shadow: 0px 0px 5px 5px rgba(252,206,232,0.3);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(252,206,232,0.3);
    -moz-box-shadow: 0px 0px 5px 5px rgba(252,206,232,0.3);
}

.primaryCTA__title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #1A1A1A;
}

.primaryCTA__description {
    font-weight: 400;
    font-size: 1.2rem;
    color: #666666;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.primaryCTA__button {
    margin-top: 1rem;
}
