.section {
    width: 100%;
    margin-top: 5rem;
}

.section.withoutTopMargin {
    margin-top: 0;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.sectionTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.sectionDescription {
    color: #374151;
}

.childrenContainer {
    padding: 20px;
}